@media (max-width:500px){
    @import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&display=swap');
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        background-color: hsl(0, 0%, 81%);
        font-family: 'Barlow Semi Condensed', sans-serif;
        padding: 150px 35px;
    }
    .name{
        display: flex;
    }
    .head-item{
        padding: 40px;
    }
    .aside-text{
        margin: 2px 0px 0px 10px;
        font-size: small;
    }
    .test-1{
        background-color: hsl(263, 55%, 52%);
        border-radius: 10px;
        box-shadow: 0px 0px 100px -50px;
    }
    .test-1 div img{
        border-radius: 50%;
        width: 40px;
        height: 40px;
        border: 3px solid hsl(0, 0%, 81%);
        
    }
    .test-1 h3{
        color: hsl(0, 0%, 100%);
    }
    .test-1 p{
        color: hsl(0, 0%, 100%);
        opacity: 70%;
        margin-top: 5px;
    }
    .h3{
        margin-top: 30px;
        font-size: 18.2px;
    }
    .p{
        margin-top: 30px;
    }
    .test-2{
        background-color: hsl(217, 19%, 35%);;
        border-radius: 10px;
        margin-top: 30px;
    }
    .test-2 div img{
        border-radius: 50%;
        width: 40px;
        height: 40px;
        border: 3px solid hsl(0, 0%, 81%);
        
    }
    .test-2 h3{
        color: hsl(0, 0%, 100%);
    }
    .test-2 p{
        color: hsl(0, 0%, 100%);
        opacity: 70%;
        margin-top: 5px;
    }
    .test-2 div p{
        font-size: 14px;
    }
    .foot-item{
        padding: 40px;
    }
    .test-3{
        background-color: white;
        border-radius: 10px;
        margin-top: 30px;
        box-shadow: 0px 0px 100px -50px;
    }
    .test-3 div img{
        border-radius: 50%;
        width: 40px;
        height: 40px;
        border: 3px solid hsl(0, 0%, 81%);
    }
    .test-3 h3{
        color: hsl(219, 29%, 14%);;
    }
    .test-3 p{
        color: hsl(219, 29%, 14%);
        opacity: 70%;
        margin-top: 5px;
    }
    .test-3 div p{
        font-size: 14px;
    }
    .test-4{
        background-color: hsl(219, 29%, 14%);
        border-radius: 10px;
        margin-top: 30px;
        box-shadow: 0px 0px 100px -50px;
    }
    .test-4 div img{
        border-radius: 50%;
        width: 40px;
        height: 40px;
        margin-top: 40px;
        border: 3px solid hsl(0, 0%, 81%);
    }
    .test-4 h3{
        color: white;
    }
    .test-4 p{
        color: white;
        opacity: 70%;
        margin-top: 5px;
    }
    .test-4 div p{
        font-size: 14px;
    }
    .section-5{
        background-color: white;
        border-radius: 10px;
        margin-top: 30px;
        padding: 40px;
        box-shadow: 0px 0px 100px -50px;
    }
    .section-5 div img{
        border-radius: 50%;
        width: 40px;
        height: 40px;

    }
    .section-5 h3{
        color: hsl(219, 29%, 14%);
    }
    .section-5 p{
        color: hsl(219, 29%, 14%);
        opacity: 70%;
        margin-top: 5px;
    }
    .section-5 div p{
        font-size: 15px;
    }
}